body {
	background-color: #cae5f0
}

video {
	width: 500px;
    height: 350px
}

audio {
    width: 500px;
    height: 50px
}
svg {
    width: 100px;
    height: 100px;
}

circle {
    stroke: black;
    fill: #b4c4d0
}

p {
    float: left;
    padding: 10px
}


