div {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

video {
    width: 500px;
    height: 350px
}

audio {
    width: 500px;
    height: 50px
}

iframe {
    width: 500px;
    height: 350px
}
