body {
    background-color: #f5f5f5;
    background-image: url(main_bg.gif);
    background-repeat: repeat-x;
    font-family: helvetica arial sans-serif;
    padding: 0
}

/* main atyle */

#container {
    width: 80%;
    margin: 0 auto;
}

#header {
    width: 100%;
    float: left;
    background-color: #ACBDC5
}

#logo {
    float: left;
}

#nav {
    position: relative;
    float: right;
    margin-top: 40px;
    background-color: #88A9C3
    }

#nav ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
    text-align: center;
}

#nav ul li {
    float: left;
    width: 170px;
    text-transform: uppercase;
    background-color: #ACBDC5;
    margin-right: 2px
}

#nav ul ul {
    width: 160px;
	display: none;
    margin: 0;
    padding: 0;
}

#nav ul li ul li {
    float: left;
    clear: both;
    margin: 0;
    padding: 0
}

#nav ul li a {
    padding: 10px;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 1px;
    margin-right: 1px;
}

#nav ul li:hover a {
    color: black;
    background-color: #ACBDC5;
}

#nav ul li:hover > ul {
    display: block;
    position: absolute;
    right: 356px;
    top: 37px;
}

#aside {
    float: left;
    clear: both;
    width: 20%;
    background-color: #A5A5A5
}

#aside div {
    float: left;
    padding: 10px
}

#section {
    float: left;
    width: 80%;
    background-color: #B6E1EA
}

#section div {
    padding: 10px
}

.baner {
    width: 70%;
    margin: 0 auto;
}

#footer {
    clear: both;
    width: 100%;
    height: 50px;
    background-color: gray
}

#footer div {
    padding: 10px
}

/*CV table stayle*/
#section table {
    border-collapse: collapse;
    margin: 10px;
    background-color: white
}

.left {
    border-right: 1px solid skyblue;
    width: 40%;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px
}

.right {
    width: 60%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px
}

.right img {
    width: 150px;
    height: 150px;
}

.normal-list {
    list-style-type: disc;
    list-style-position: inside
}

.no-style-type {
    list-style-type: none
}

.lighter {
    font-weight: normal
}

#langages {
    padding-top: 25px;
    padding-left: 3px
}

#user-personal-data {
    padding-top: 42px
}

#person-info {
    padding-top: 12px
}

#person-info2 {
    padding-top: 65px
}

#person-info3 {
    padding-top: 65px
}

#person-info4 {
    padding-top: 45px
}

.info1 {
    padding-top: 32px
}

/*my-likes style*/

video {
    width: 500px;
    height: 350px
}

audio {
    width: 500px;
    height: 50px
}
svg {
    width: 100px;
    height: 100px;
    background-color: white
}

circle {
    stroke: black;
    fill: white
}

#section p {
    float: left;
    padding: 10px
}
