body {
    background-color: #f5f5f5;
    background-image: url(main_bg.gif);
    background-repeat: repeat-x;
    font-family: helvetica arial sans-serif;
    padding: 0
}

/* main atyle */

#container {
    width: 80%;
    margin: 0 auto;
}

#header, header {
    width: 100%;
    float: left;
    clear: both;
    background-color: #ACBDC5;
}

#logo, header #logo {
    float: left;
    position: relative;
    -webkit-animation: animation-logo 5s infinite;
}

@-webkit-keyframes animation-logo{
    0% {left: 0%;}
    25% {left: 5%;}
    50% {left: 10%;}
    75% {left: 5%;}
    100% {left: 0%;}
}

@-moz-keyframes animation-logo{
    0% {left: 0%;}
    25% {left: 5%;}
    50% {left: 10%;}
    75% {left: 5%;}
    100% {left: 0%;}
}

@keyframes animation-logo{
    0% {left: 0%;}
    25% {left: 5%;}
    50% {left: 10%;}
    75% {left: 5%;}
    100% {left: 0%;}
}

#site-name {
    font-size: 20px;
    letter-spacing: 30px;
    color: #FFE271;
    text-align: center;
    text-transform: uppercase;
}

#nav, nav {
    float: right;
    clear: both;
    display: inline;
    position: relative;
    margin-top: 40px;
    background-color: #88A9C3
    }

#nav ul,nav ul{
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
    text-align: center;
}

#nav ul li, nav ul li {
    float: left;
    width: 170px;
    text-transform: uppercase;
    background-color: #ACBDC5;
    margin-right: 2px
}

#nav ul ul, nav ul ul {
	display: none;
    margin: 0;
    padding: 0;
}

#nav ul li ul li, nav ul li ul li{
    float: left;
    clear: both;
    margin: 0;
    padding: 0
}

#nav ul li a, nav ul li a {
    padding: 10px;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 1px;
    margin-right: 1px;
}

#nav ul li:hover a, nav ul li:hover a {
    color: #FFE271;
    background-color: #ACBDC5;
}

#nav ul li:hover > ul, nav ul li:hover > ul{
    display: block;
    position: absolute;
    right: 346px;
    top: 37px;
}

#aside, aside {
    float: left;
    width: 20%;
    background-color: #A5A5A5
}

#aside div, aside div {
    float: left;
    padding: 10px
}

#section, section {
    float: right;
    width: 80%;
    background-color: #B6E1EA
}

#section div {
    padding: 20px
}

.baner {
    width: 70%;
    margin: 0 auto;
}

#footer, footer {
    float: left;
    clear: both;
    width: 100%;
    height: 50px;
    background-color: gray
}

#footer div, footer div {
    padding: 10px
}

/*CV table stayle*/
#section table {
    width: 21 cm;
    height: 29.7cm;
    border-collapse: collapse;
    margin: 10px;
    background-color: white
}

.left {
    border-right: 1px solid skyblue;
    width: 40%;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px
}

.right {
    width: 60%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.right img {
    width: 150px;
    height: 150px;
}

.normal-list {
    list-style-type: disc;
    list-style-position: inside
}

.no-style-type {
    list-style-type: none
}

.lighter {
    font-weight: normal
}

#section #langages {
    padding-top: 35px;
}

#section #user-personal-data {
    padding-top: 53px;
}

#section #person-info {
    padding-top: 15px
}

#section #person-info2 {
    padding-top: 70px
}

#person-info3 {
    padding-top: 65px
}

#person-info4 {
    padding-top: 45px
}

.info1 {
    padding-top: 32px
}

/*my-likes style*/

video {
    width: 500px;
    height: 350px
}

audio {
    width: 500px;
    height: 50px
}
svg {
    width: 100px;
    height: 100px;
    background-color: white
}

circle {
    stroke: black;
    fill: white
}

#section p {
    float: left;
    padding: 10px
}

/*products style*/

#products {
    margin: 20px;
    width: 160px;
    height: 200px;
    float: left;
    background-color: white;
    text-align: center;
    border: 1px solid #334D54
}

#products img:hover {
    position: relative;
    top: -50px;
    left: -50px;
    width: 260px;
    height: 300px;
    border: 2px solid #FFE271
}

/*orders-style*/

#orders {
    padding: 20px
}

#orders fieldset {
    padding: 20px;
    background-color: white
}

#orders input {
    margin: 10px
}

#orders textarea {
    width: 300px;
    height: 100px
}

/*company-style HTML5*/

section div {
    float: left;
    clear: both;
    padding: 20px;
}

section p img {
    float: left;
    margin-right: 20px
}

section div h2 {
    color: #3D5266;
}