body {
    background-color: #FCF0D8;
    margin-top: 0;
    margin-left: 20px;
    z-index: 1000
}

header {
    color: #FCF0D8;
    width: 100%;
    float: left;
    height: 100px;
    min-height: 100px;
    background-color: #0C0C0C;
    text-align: center;
}

header img {
    float: left;
}

nav {
    background-color: #9CCCE4;
    height: 138px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul ul {
	display: none;
    margin: 0;
    padding: 0
}

nav ul li ul li {
    float: left;
    clear: both
}

nav ul li {
    float: left;
    width: 150px;
    margin-right: 1px;
    background-color: #CC9C90; 
    
}

nav ul li a {
    margin: 0;
    padding: 10px;
    display: block;
    color: #243C48;
    text-decoration: none;
}

nav ul li:hover a {
    color: #192423;
    background-color: #c6e0c6
}

nav ul li:hover > ul {
    display: block;
    position: absolute;
    left: 170px;
    z-index: 10
}

aside {
    display: block;
    float: left;
    clear: both;
    text-align: center
}

aside div {
    background-color: #D1D1D1;
    width: 250px;
    height: 200px;
    clear: both
}

section {;
    background-color: #FFFFFF;;
    float: left;
    text-align: center
}

section div {
    margin: 10px;
    width: 250px;
    height: 200px;
}

footer {
    float: left;
    width: 100%;
    background-color: skyblue
}


