header div {
	float: left;
	width: 100%;
	height: 100px;
}

#logo {
	background-color: #213232;
	width: 7%;
	float: left;
}
#site-name {
	text-align: center;
	text-shadow: khaki 0.5mm 0.5mm 3px;
	font-family: sans-serif;
	font-size: xx-large;
	color: lightcyan;
	background-color: #213232;
	width: 93%;
	float: left;
}

nav {
	padding-top: 10px;
	height: 50px;
	background-color: lightseagreen;
	width: 100%;
	clear: both;
	padding-bottom: 10px;
}

nav ul {
	padding-right: 71px;
	padding-left: 125px;
	list-style-type: none;
}

nav ul li {
	margin-left:  10px;
	margin-right: 10px;
	height: 70px;
	float: left;
}

nav ul li a {
	font-family: sans-serif;
	color: white;
	text-decoration: none;
}

aside {
	padding-top: 10px;
	padding-left: 1%;
	padding-right: 1%;
	background-color: #213232;
	width: 12%;
	min-height: 500px;
	float: left;
	clear: both;
}

aside ul {
	color: lightseagreen;
	font-family: sans-serif;
	font-size: medium;
	padding-top: 20px;
	padding-bottom: 20px;
	list-style-type: none;
}

aside ul li {
	margin-top: 10px;
	margin-bottom: 10px;
	
}

aside ul li a {
	color: white;
	text-decoration: none;
}

article {
	width: 84%;
	padding-left: 1%;
	padding-right: 1%;
	min-height: 500px;
	float: left;
	background-color: wheat;
}

footer div {
	padding-right: 1%;
	padding-top: 1%;
	text-align: right;
	height: 50px;
	background-color: #213232;
	width: 100%;
	clear: both;
}

