body {
    background-color: #f1f8ff;
}

.A4 {
    width: 21cm;
    height: 29.7cm;
    background-color: white;
    border: 1px solid silver;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 30px
}

.left {
    border-right: 1px solid skyblue;
    width: 40%;
    text-align: right;
    padding-right: 10px
}

.right {
    width: 60%;
    text-align: left;
    padding-left: 10px;
    padding-top: 45px;
}

.normal-list {
    list-style-type: disc;
    list-style-position: inside;
    padding: 3px
}

.no-style-type {
    list-style-type: none;
    padding: 3px
}

.lighter {
    font-weight: normal
}
