body {
    background-color: #f1f8ff;
}

div {
    margin: 10px;
    width: 22cm;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid silver;
    font-family: sans-serif
    }

table {
    margin-top: 1cm;
    margin-bottom: 1cm;
    width: 17cm;
    height: 29.7cm;
    border-collapse: collapse
}

.left {
    border-right: 1px solid skyblue;
    width: 45%;
    text-align: right;
    padding: 10px
}

.right {
    text-align: left;
    padding: 10px
}

.normal-list {
    list-style-type: disc;
    list-style-position: inside
}

.no-style-type {
    list-style-type: none
}


.lighter {
    font-weight: normal
}

#langages {
    padding-top: 25px;
    padding-left: 3px
}

#user-personal-data {
    padding-top: 42px
}
