body {
    background-color: #f1f8ff;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 22cm;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid silver;
    font-family: sans-serif
    }

table {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 21cm;
    height: 29.7cm;
    border-collapse: collapse;
}

.left {
    border-right: 1px solid skyblue;
    width: 40%;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px
}

.right {
    width: 70%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px
}

.normal-list {
    list-style-type: disc;
    list-style-position: inside
}

.no-style-type {
    list-style-type: none
}


.lighter {
    font-weight: normal
}

#langages {
    padding-top: 25px;
    padding-left: 3px
}

#user-personal-data {
    padding-top: 42px
}

#person-info {
    padding-top: 12px
}

#person-info2 {
    padding-top: 65px
}

#person-info3 {
    padding-top: 65px
}

#person-info4 {
    padding-top: 45px
}



.info1 {
    padding-top: 32px
}
